// Import bootstrap styles
@import 'bootstrap-custom';

///////////////////////////////
// VARIABLES 


// Media query variables
// Extra small screen / phone
$screen-xs:                  480px !default;
//** Deprecated `$screen-xs-min` as of v3.2.0
$screen-xs-min:              $screen-xs !default;


// Small screen / tablet
//** Deprecated `$screen-sm` as of v3.0.1
$screen-sm:                  768px !default;
$screen-sm-min:              $screen-sm !default;


// Medium screen / desktop
//** Deprecated `$screen-md` as of v3.0.1
$screen-md:                  992px !default;
$screen-md-min:              $screen-md !default;

// Large screen / wide desktop
//** Deprecated `$screen-lg` as of v3.0.1
$screen-lg:                  1200px !default;
$screen-lg-min:              $screen-lg !default;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max:              ($screen-sm-min - 1) !default;
$screen-sm-max:              ($screen-md-min - 1) !default;
$screen-md-max:              ($screen-lg-min - 1) !default;


// Font colors
$red: #DE6262;
$white: #fff;




///////////////////////////////
// MAIN CSS 

body {
  background-color: $red;  
  color: $white;
}

.navbar-default {
  border-radius: 0;

  .navbar-brand {
    color: $red;
    font-weight: bold;
    padding-top: 18px;

    @media(min-width: 767px) {
      padding-top: 18px;
    }

  }

  .navbar-toggle {
    border-color: transparent;

    .icon-bar {
      background-color: $red;
      width: 28px;
      height: 4px;
      border-radius: 0px;
    }
  }

  .navbar-nav {
    @media (min-width: $screen-sm) {
      float: right;
    }

    li > a {
      color: $red;
      font-weight: bold;
    }

  }

}

.btn {
  background-color: $white;
  color: $red;
  border-radius: 0; 
} 

#emergency-number-container {
  margin-top: 45px;
  color: $white;
  text-align: center;
  margin-bottom: 30px;

  @media (min-width: $screen-sm) {
    margin-top: 125px;
    margin-bottom: 0px;
  }

  
  p {
    margin: 0 0 -15px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 10px;

    @media (min-width: $screen-sm) {
      margin: 0 0 -44px;
      letter-spacing: 2px;
      font-size: 15px;
    }

  }
  
  #emergency-number {
    color: $white;
    font-size: 100px;
    text-align: center;

    @media (min-width: $screen-sm) {
      font-size: 180px;
    }

  }
}

#distress-btn-container {
  text-align: center;
  margin-bottom: 90px;

  @media (min-width: $screen-sm) {
    margin-bottom: 150px;
  }


  #distress-btn {
    font-size: 30px;    
  
    @media (min-width: $screen-sm) {
      font-size: 40px;
    }

  }

  img {
    width: 30px;
    margin-right: 7px;
    margin-bottom: 8px;
  }

} 

#police-hospital-btn-container {
  text-align: center;
  color: $white;

  p {
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  
  .btn {
    font-size: 20px;
    width: 150px;

    @media (min-width: $screen-sm) {
      font-size: 40px;
      width: 150px;
    }

  }

  #police-img {
    width: 30px;
    margin-right: 7px;
    margin-bottom: 8px;    
  }

}

#map-container {
  width: 100%;
  margin: 20px auto;
  padding: 0 5px;

  @media (min-width: $screen-sm) {
    width: 800px;
    margin: 50px auto;
  }  

  #police, #hospital {
    height: 390px; 
    width: 100%;  
  }

  p {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 10px;  

    @media (min-width: $screen-sm) {
      font-size: 15px;
      letter-spacing: 2px;  
    }

  } 

  .back-btn {
   margin-bottom: 30px;

   a {
      color: $red;
      background-color: $white;
      font-weight: bold;
      padding: 5px;
    }

  }

}

#spinner {
  width: 200px;
  margin: 80px auto;

  @media (min-width: $screen-sm) {
    width: 400px;
    margin: 150px auto;
  }


  img {
    width: 100%;
  }
  
}


