<div id="sign-in-container">
  <h1>Sign in</h1>
  <form>
    <div class="form-group">
      <label for="username">Username</label>
      <input class="form-control" type="text" name="username" ng-model="user.username" required>
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input class="form-control" type="password" name="password" ng-model="user.password" required>
    </div>

    <button class="btn btn-default" type="submit" value="Submit" ng-click="signIn()">Sign in</button>
  </form>
</div>




