<div id="spinner" ng-show="spinner">
  <p>Loading local emergency info...</p>
  <img src="img/loading-circles.svg" width="200" alt="">
</div>

<div id="home-container" ng-show="homeContent">
  <div id="emergency-number-container">
    <p>Local emergency number</p>
    <a href="tel: {{emergencyNumber}} "><div id="emergency-number">
      {{emergencyNumber}}
    </div></a>
  </div>

  <div id="distress-btn-container">
    <button id="distress-btn" class="btn" type="button" ng-click="distress()" ng-show="isLoggedIn"><img src="img/alert.png" alt="alert img">Distress</button>
  </div>

  <div id="police-hospital-btn-container">
    <p>Local maps</p>
    <a ui-sref="police_map"><button class="btn" type="button">Police</button></a>
    <a ui-sref="hospital_map"><button class="btn" type="button" ng-click="hospital()">Hospitals</button></a>
  </div>
</div>


